@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
  --navbar-background-color: #262730;
  --main-background-color: #4d5b6a;
  --section1-background-color: #4d5b6a;
  --section2-background-color: #6c7e90;
  --font-color: #f5f5f5;
}

html {
  color: var(--font-color);
  font-size: 20px;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #333d47;
}

/*** Navbar ***/
#header {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: var(--navbar-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px var(--font-color);
  font-size: 1.2rem;
  z-index: 10;
}

#header a {
  text-decoration: none;
  color: var(--font-color);
}

#logo {
  margin-left: 30px;
  width: 180px;
}

#options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  width: 180px;
}

#light-dark-toggle-div {
  margin: 0px 20px;
}

#navbar-links {
  display: flex;
}

.navbar-link {
  margin: 0px 20px;
}

/*** Main ***/
main {
  background-color: var(--main-background-color);
}

section {
  min-height: 60vh;
  margin: auto;
  padding: 50px;
  text-align: center;
  scroll-margin-top: 50px;
}

/* Intro Section */
#intro {
  height: 100vh;
  background-color: var(--section1-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-container {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

/* About Section */
#about {
  background-color: var(--section2-background-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about-container {
  width: 500px;
}

/* Skills Section */
#skills {
  background-color: var(--section1-background-color);
}

.skills-container {
  margin: 75px auto;
  width: 600px;
  resize: both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-div {
  margin: 50px;
}

.skill-div img {
  height: auto;
  width: 100px;
  filter: grayscale(100);
  transition: all 2s;
}

.skill-div img:hover {
  filter: grayscale(0);
  transition: all 1s;
  transform: scale(120%);
  cursor: default;
}

/* Projects Section */
#projects-header {
  margin-bottom: 40px;
}

#projects {
  background-color: var(--section2-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  margin: auto;
}

.project-div {
  transition: all 1s;
  padding: 20px;
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: var(--section1-background-color);
}
.project-div:hover {
  box-shadow: 0px 0px 20px var(--font-color);
  transition: all 1s;
}

.project-techs {
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-techs img {
  height: auto;
  width: 50px;
  filter: grayscale(100);
  transition: all 2s;
}

.project-img {
  /* margin: 10px; */
  border-radius: 10px;
  height: auto;
  width: 90%;
}

.project-desc {
  text-align: center;
}

.project-desc a {
  color: var(--font-color);
}

.project-links {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.project-links a {
  padding: 5px;
  color: var(--font-color);
  text-decoration: none;
  border: 3px solid var(--font-color);
  border-radius: 10px;
}

/* Contact Section */
#contact {
  background-color: var(--section1-background-color);
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container {
  margin: auto;
}

#contact-list li {
  list-style-type: none;
  text-align: left;
  margin: 30px;
}

#contact-list li a {
  font-size: 30px;
  color: var(--font-color);
  text-decoration: none;
}

.contact-icons {
  font-size: 2.5rem;
  margin-right: 40px;
  vertical-align: middle;
}
