@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
  --navbar-background-color: #262730;
  --main-background-color: #4d5b6a;
  --section1-background-color: #4d5b6a;
  --section2-background-color: #6c7e90;
  --font-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--font-color);
  font-size: 20px;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #333d47;
  width: 100vw;
  margin: 0px;
}

/*** Navbar ***/
#header {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: var(--navbar-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px var(--font-color);
  font-size: 1.2rem;
  z-index: 10;
}

#header a {
  text-decoration: none;
  color: var(--font-color);
}

#logo {
  margin-left: 30px;
  width: 180px;
}

#options-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

#options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
  width: 180px;
}

#light-dark-toggle-div {
  margin: 0px 20px;
}

.nav-links {
  display: flex;
}

.navbar-link {
  margin: 0px 20px;
}

/* Hamburger menu */
#hamburger {
  display: none;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-30%);
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  position: relative;
  right: 10px;
  width: 35px;
  height: 5px;
  background-color: var(--font-color);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.open-burger .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 7px);
}

/* Fade out the second bar */
.open-burger .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.open-burger .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -7px);
}

/*** Main ***/
main {
  background-color: var(--main-background-color);
  width: 100%;
  margin: 0px;
}

section {
  min-height: 70vh;
  /* width: 100%; */
  margin: auto;
  padding: 50px;
  text-align: center;
  scroll-margin-top: 100px;
}

/* Intro Section */
#intro {
  height: 100vh;
  background-color: var(--section1-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-container {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

/* About Section */
#about {
  background-color: var(--section2-background-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about-container {
  width: 500px;
  min-width: 50%;
}

/* Skills Section */
#skills {
  background-color: var(--section1-background-color);
}

.skills-container {
  margin: 75px auto;
  width: fit-content;
  max-width: 600px;
  resize: both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-div {
  margin: 50px;
}

.skill-div img {
  height: auto;
  width: 80px;
  filter: grayscale(100);
  transition: all 2s;
}

.skill-div img:hover {
  filter: grayscale(0);
  transition: all 1s;
  transform: scale(120%);
  cursor: default;
}

/* Projects Section */
#projects-header {
  margin-bottom: 40px;
}

#projects {
  background-color: var(--section2-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.project-div {
  margin: auto;
  transition: all 1s;
  padding: 20px;
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: var(--section1-background-color);
}

.project-div:hover {
  box-shadow: 0px 0px 20px var(--font-color);
  transition: all 1s;
}

.project-title {
  margin: 10px auto;
}

.project-techs {
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-techs > .skill-div {
  margin: 20px;
}

.project-techs img {
  height: auto;
  width: 50px;
  filter: grayscale(100);
  transition: all 2s;
}

.project-img {
  border-radius: 10px;
  height: auto;
  width: 80%;
}

.project-desc {
  text-align: center;
}

.project-desc a {
  color: var(--font-color);
}

.project-links {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.project-links a {
  padding: 5px;
  color: var(--font-color);
  text-decoration: none;
  border: 3px solid var(--font-color);
  border-radius: 10px;
}

/* Contact Section */
#contact {
  background-color: var(--section1-background-color);
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container {
  margin: auto;
}

#contact-list li {
  list-style-type: none;
  text-align: left;
  margin: 30px 0px;
}

#contact-list li a {
  font-size: 30px;
  color: var(--font-color);
  text-decoration: none;
}

.contact-icons {
  font-size: 2.5rem;
  margin-right: 40px;
  vertical-align: middle;
}

@media screen and (max-width: 1000px) {
  .skill-div {
    margin: 30px;
  }

  #header-container {
    position: absolute;
    z-index: 5;
  }

  #hamburger {
    display: block;
    position: static;
  }

  .nav-links {
    display: none;
    background-color: var(--navbar-background-color);
    width: fit-content;
    height: fit-content;
    padding: 30px 50px;
    position: absolute;
    right: -130px;
    transform: translateX(-50%);
    top: 100px;
    flex-direction: column;
    text-align: center;
    border-top: 4px solid var(--navbar-background-color);
    border-bottom-left-radius: 20px;
    box-shadow: 0px 3px 7px -3px var(--font-color);
  }

  .nav-links a {
    margin: 20px;
    font-size: 1.3rem;
    display: block;
  }

  .show-menu {
    display: flex;
  }
}

@media screen and (max-width: 680px) {
  section {
    padding: 0px;
  }

  .project-div {
    transform: scale(90%);
    width: 90%;
  }

  .skill-div img {
    height: auto;
    width: 50px;
  }

  .contact-container {
    transform: scale(80%);
  }
}

@media screen and (max-width: 400px) {
  .project-div {
    transform: scale(80%);
    width: fit-content;
  }

  .contact-container {
    transform: scale(60%);
  }
}
