:root.light-theme {
  --navbar-background-color: rgb(138, 176, 205);
  --navbar-font-color: rgb(255, 255, 255);
  --navbar-underline-color: rgb(0, 0, 208);
  --idle-color: rgb(227, 227, 227);
  --main-background-color: rgb(236, 236, 236);
  --accent-color: rgb(0, 0, 208);
  --font-color: rgb(68, 68, 68);
}

:root.dark-theme {
  --navbar-background-color: rgb(42, 42, 42);
  --navbar-font-color: rgb(255, 255, 255);
  --navbar-underline-color: rgb(218, 106, 2);
  --idle-color: rgb(128, 128, 128);
  --main-background-color: rgb(87, 87, 87);
  --accent-color: rgb(218, 106, 2);
  --font-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

html {
  color: var(--font-color);
  font-size: 20px;
  font-family: "Archivo", "Varela Round", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 200;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background-color: var(--main-background-color);
  width: 100%;
  margin: 0px;
  padding: 0px;
  transition-property: color, transform, background-color;
  transition-duration: 1s;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1800px;
}

/* Scrollbar */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--navbar-background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
} */

/*** SideBar ***/
.side-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 20%;
  min-width: 221px;
  max-width: 240px;
  padding-left: 20px;
  display: grid;
  grid-template-rows: 160px auto;
  box-shadow: 1px 0px 20px gray;
  background-color: var(--navbar-background-color);
}

.side-bar a {
  text-decoration: none;
}

.logo {
  font-family: "Roboto Serif";
  font-size: 1.8rem;
  font-weight: 900;
  margin: 20px auto 30px 0px;
  width: fit-content;
  opacity: 0;
  color: var(--navbar-font-color);
}

.logo > a {
  color: var(--navbar-font-color);
  font-size: 1.8rem;
  font-weight: 700;
}

.logo > h3 {
  font-size: 1rem;
  font-weight: 200;
  margin: 5px auto;
  text-decoration: underline;
  text-decoration-color: var(--navbar-underline-color);
  text-underline-offset: 3px;
}

.menu {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 100px;
  justify-content: start;
  align-items: center;
}

.navbar {
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar-link {
  margin: 10px 0px;
  color: var(--idle-color);
  font-size: 1.2rem;
  transition: color 0.4s;
}

.navbar-link:hover {
  color: var(--navbar-font-color);
  text-decoration: underline;
  text-decoration-color: var(--navbar-underline-color);
  text-underline-offset: 5px;
}

#options {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--idle-color);
}

#theme-toggle-btn {
  margin: 10px;
  transition: color 0.3s;
}

#theme-toggle-btn:hover {
  cursor: pointer;
  color: var(--navbar-font-color);
}

#language-change {
  margin: 10px;
  transition: color 0.3s;
}

#language-change:hover {
  color: var(--navbar-font-color);
  cursor: pointer;
}

/* Hamburger menu */
#hamburger {
  display: none;
  cursor: pointer;
  margin-right: 15px;
}

.bar1,
.bar2,
.bar3 {
  position: relative;
  right: 10px;
  width: 35px;
  height: 5px;
  background-color: var(--navbar-font-color);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.open-burger .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 7px);
}

/* Fade out the second bar */
.open-burger .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.open-burger .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -7px);
}

/*** Main ***/
main {
  background-color: var(--main-background-color);
  width: auto;
  margin: 0px;
  margin-left: 10%;
}

section {
  min-height: 70vh;
  width: 100%;
  margin: auto;
  padding: 50px;
  text-align: center;
}

.section-header {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 10px;
  margin-bottom: 50px;
}

/* Intro Section */
#intro {
  height: 100vh;
  background: var(--main-background-color);
  background: linear-gradient(
    0deg,
    var(--main-background-color) 0%,
    var(--navbar-background-color) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.intro-container {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  opacity: 0;
  font-family: "Roboto Serif";
  color: var(--navbar-font-color);
}

.intro-container h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.intro-container h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: var(--navbar-underline-color);
  text-underline-offset: 4px;
}

/* Fade ins between intro title and side title animation */
.fade-out-class-intro {
  -webkit-animation: fadeout 2s forwards;
  -moz-animation: fadeout 2s forwards;
  -ms-animation: fadeout 2s forwards;
  -o-animation: fadeout 2s forwards;
  animation: fadeout 2s forwards;
}
.fade-in-class-intro {
  -webkit-animation: fadein 2s forwards 0.5s;
  -moz-animation: fadein 2s forwards 0.5s;
  -ms-animation: fadein 2s forwards 0.5s;
  -o-animation: fadein 2s forwards 0.5s;
  animation: fadein 2s forwards 0.5s;
}

.fade-out-class-side {
  -webkit-animation: fadeout 2s forwards;
  -moz-animation: fadeout 2s forwards;
  -ms-animation: fadeout 2s forwards;
  -o-animation: fadeout 2s forwards;
  animation: fadeout 2s forwards;
}
.fade-in-class-side {
  -webkit-animation: fadein 2s forwards 1s;
  -moz-animation: fadein 2s forwards 1s;
  -ms-animation: fadein 2s forwards 1s;
  -o-animation: fadein 2s forwards 1s;
  animation: fadein 2s forwards 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
    letter-spacing: 3px;
  }
  to {
    opacity: 1;
    letter-spacing: 0px;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* About Section */
#about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-container {
  width: 600px;
  min-width: 50%;
}

.about-container p {
  text-align: justify;
}

/* Skills Section */
#skills h2 {
  font-size: 1.5rem;
}

.skills-container {
  margin: 75px auto;
  width: fit-content;
  max-width: 600px;
  resize: both;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.skill-div {
  margin: 0px 40px 50px 40px;
  transition: all 2s;
  height: auto;
  width: 95px;
  display: grid;
  grid-template-rows: 90px auto;
  text-align: center;
}

.skill-div img {
  height: auto;
  width: 80%;
  margin: auto;
}

.skill-div h4 {
  font-weight: inherit;
  text-align: center;
}

.skill-div:hover {
  transition: all 1s;
  cursor: default;
}

/* Projects Section */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.projects-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* Projects */
.project-div {
  position: relative;
  margin: 25px auto;
  padding: 15px;
  padding-top: 0px;
  width: 850px;
  height: fit-content;
  display: grid;
  grid-template-rows: 75px auto;
  justify-content: center;
  border: 2px solid var(--font-color);
  transition-property: color, transform, box-shadow;
  transition-duration: 1s;
}

.project-div:hover {
  box-shadow: 15px 15px 0px var(--accent-color);
  background-color: var(--main-background-color);
  transform: scale(101%);
}

.project-techs {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 100%;
  margin-bottom: auto;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project-techs h5 {
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 0px 0px 0px 10px;
  font-size: 0.7rem;
}

.project-tech-html {
  background-color: rgb(226, 63, 26);
}

.project-tech-css {
  background-color: rgb(12, 91, 147);
}

.project-tech-js {
  background-color: rgb(208, 173, 36);
}

.project-tech-react {
  background-color: rgb(68, 149, 169);
}

.project-tech-vue {
  background-color: rgb(57, 150, 110);
}

.project-title {
  font-size: 1.5rem;
  margin-right: auto;
  text-align: left;
}

.project-content {
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
}

.project-img {
  width: 100%;
  border-radius: 5px;
}

.project-info {
  margin-top: 0px;
  height: 100%;
  padding: 10px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-desc {
  text-align: justify;
  margin: 0px;
  margin-bottom: 25px;
  font-size: 0.9rem;
}

.project-desc a {
  color: var(--font-color);
  font-size: 0.9rem;
}

.project-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-links > div {
  margin: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-links a {
  font-size: 0.8rem;
  width: 80px;
  margin: 10px;
  margin-bottom: 0px;
  padding: 3px;
  color: var(--font-color);
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 3px solid var(--font-color);
}

/* Contact Section */
#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: auto;
}

#contact-list {
  width: auto;
}

#contact-list li {
  list-style-type: none;
  text-align: left;
  margin: 30px 0px;
}

#contact-list li a {
  font-size: 1.5rem;
  color: var(--font-color);
  text-decoration: none;
}

.contact-icons {
  font-size: 1.5rem;
  margin-right: 40px;
  vertical-align: middle;
}

/* Media Queries */
@media screen and (max-width: 1300px) {
  main {
    margin-left: 20%;
  }

  .project-div {
    width: 680px;
  }
}

@media screen and (max-width: 950px) {
  section {
    scroll-margin-top: 40px;
  }

  .side-bar {
    width: 100%;
    max-width: unset;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-shadow: none;
  }

  #logo {
    padding-top: 5px;
  }

  #hamburger {
    display: block;
  }

  .menu {
    /* visibility: hidden; */
    background-color: var(--navbar-background-color);
    width: 165px;
    height: calc(100vh - 85px);
    padding-top: 10px;
    position: absolute;
    right: 0px;
    top: 85px;
    justify-content: center;
    border-bottom-left-radius: 5px;
    transform: translateX(120%);
    transition: transform 0.7s ease-out;
  }

  .show-menu {
    /* visibility: visible; */
    transform: translateX(0%);
  }

  .navbar {
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    margin: 0px;
  }

  #intro {
    margin-top: 85px;
  }

  .intro-container {
    transform: translateY(-80px);
  }
}

@media screen and (max-width: 760px) {

  .about-container {
    width: auto;
  }

  .project-div {
    width: 80%;
    margin: 25px 50px;
    grid-template-rows: auto auto;
  }

  .project-div > div:first-child {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
    justify-items: center;
  }

  .project-title {
    justify-self: start;
  }

  .project-techs {
    position: relative;
    right: 0px;
    width: fit-content;
    justify-self:right
  }

  .project-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 15px;
  }

  .project-img {
    width: 235px;
    min-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  * {
    font-size: 18px;
  }

  .logo > a {
    font-size: 1.4rem;
  }
  
  .logo > h3 {
    font-size: 0.8rem;
  }

  section {
    padding: 50px 10px;
  }

  .intro-container h1 {
    font-size: 2.5rem;
  }

  .intro-container h2 {
    font-size: 1rem;
  }

  .project-div {
    width: 90%;
    margin: 25px;
  }

  .project-techs {
    flex-wrap: wrap;
  }

  .project-img {
    width: 235px;
  }

  .project-info {
    padding: 5px 0px 0px 0px;
  }

  .project-desc {
    font-size: 0.8rem;
  }

  .project-desc a {
    font-size: 0.8rem;
  }

  .project-links > div {
    flex-direction: column;
    align-items: center;
  }
}
